<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nl.groover.bar"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="25"
        android:targetSdkVersion="25" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".gui.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".gui.LoginActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize|stateVisible" />
        <activity
            android:name=".gui.LedenMainActivity"
            android:label="@string/title_activity_leden_main"
            android:parentActivityName=".gui.BeheerActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="gui.BeheerActivity" />
        </activity>
        <activity
            android:name=".gui.ArticleActivity"
            android:label="@string/title_activity_article"
            android:parentActivityName=".gui.BeheerActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".gui.BeheerActivity" />
        </activity>
        <activity
            android:name=".gui.BeheerActivity"
            android:label="@string/title_activity_beheer"
            android:parentActivityName=".gui.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="gui.MainActivity" />
        </activity>
        <activity
            android:name=".gui.BarBazzActivity"
            android:label="@string/title_activity_bar_bazz"
            android:parentActivityName=".gui.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="gui.MainActivity" />
        </activity>
        <activity
            android:name=".gui.TurfSelectCustomerActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_turf_select_customer"
            android:parentActivityName=".gui.BarBazzActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="gui.BarBazzActivity" />
        </activity>
        <activity
            android:name=".gui.OrderActivity"
            android:label="@string/title_activity_order"
            android:parentActivityName=".gui.TurfSelectCustomerActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="gui.TurfSelectCustomerActivity" />
        </activity>
        <activity
            android:name=".gui.PenningActivity"
            android:label="@string/title_activity_penning"
            android:parentActivityName=".gui.BeheerActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="gui.BeheerActivity" />
        </activity>
        <activity
            android:name=".gui.EditCredentialsActivity"
            android:label="@string/title_activity_edit_credentials"
            android:parentActivityName=".gui.BeheerActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="gui.BeheerActivity" />
        </activity>
        <activity
            android:name=".frame.FileDialog"
            android:label="@string/dialog_name" />

        <service android:name=".frame.BackupService" />
        <service android:name=".frame.UploadService" />

        <receiver
            android:name=".frame.NetworkChangeReceiver"
            android:label="NetworkChangeReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".gui.OrderOverviewActivity"
            android:label="@string/title_activity_order_overview"
            android:parentActivityName=".gui.BarBazzActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="nl.groover.bar.gui.BarBazzActivity" />
        </activity>
        <activity
            android:name=".gui.EditOrderActivity"
            android:label="@string/title_activity_edit_order"
            android:screenOrientation="portrait" />
        <activity
            android:name=".gui.BackupActivity"
            android:label="@string/title_activity_backup"
            android:parentActivityName=".gui.BeheerActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".gui.BeheerActivity" />
        </activity>
        <activity
            android:name=".gui.ColorPickerActivity"
            android:label="@string/title_activity_color_picker" />
        <activity
            android:name=".gui.GroupActivity"
            android:label="@string/title_activity_group"
            android:parentActivityName=".gui.BeheerActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="nl.groover.bar.gui.BeheerActivity" />
        </activity>
        <activity
            android:name=".gui.EditGroupActivity"
            android:label="@string/title_activity_edit_group" />
        <activity
            android:name=".gui.EditArticleActivity"
            android:label="@string/title_activity_edit_article"
            android:parentActivityName=".gui.ArticleActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="nl.groover.bar.gui.ArticleActivity" />
        </activity>
    </application>

</manifest>