<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.groover.bar"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="17" />
    
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.groover.bar.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.groover.bar.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
        <activity
            android:name="com.groover.bar.LedenMainActivity"
            android:label="@string/title_activity_leden_main"
            android:parentActivityName="com.groover.bar.MainActivity"
            android:screenOrientation="landscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.groovertest.MainActivity" />
        </activity>
        <activity
            android:name="com.groover.bar.ArticleActivity"
            android:label="@string/title_activity_article"
            android:parentActivityName="com.groover.bar.MainActivity"
            android:screenOrientation="landscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.groovertest.MainActivity" />
        </activity>
        <activity
            android:name="com.groover.bar.GroupMainActivity"
            android:label="@string/title_activity_group_main"
            android:parentActivityName="com.groover.bar.MainActivity"
            android:screenOrientation="landscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.groovertest.MainActivity" />
        </activity>
        <activity
            android:name="com.groover.bar.BeheerActivity"
            android:label="@string/title_activity_beheer"
            android:parentActivityName="com.groover.bar.MainActivity"
            android:screenOrientation="landscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.groovertest.MainActivity" />
        </activity>
        <activity
            android:name="com.groover.bar.BarBazzActivity"
            android:label="@string/title_activity_bar_bazz"
            android:parentActivityName="com.groover.bar.MainActivity"
            android:screenOrientation="landscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.groovertest.MainActivity" />
        </activity>
        <activity
            android:name="com.groover.bar.TurfMenuActivity"
            android:label="@string/title_activity_turf_menu"
            android:parentActivityName="com.groover.bar.BarBazzActivity"
            android:screenOrientation="landscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.groovertest.BarBazzActivity" />
        </activity>
        <activity
            android:name="com.groover.bar.EditTurfListActivity"
            android:label="@string/title_activity_edit_turf_list"
            android:parentActivityName="com.groover.bar.TurfMenuActivity"
            android:screenOrientation="landscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.groovertest.TurfMenuActivity" />
        </activity>
        <activity
            android:name="com.groover.bar.TurfSelectCustomerActivity"
            android:label="@string/title_activity_turf_select_customer"
            android:parentActivityName="com.groover.bar.TurfMenuActivity"
            android:screenOrientation="landscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.groovertest.TurfMenuActivity" />
        </activity>
        <activity
            android:name="com.groover.bar.OrderActivity"
            android:label="@string/title_activity_order"
            android:parentActivityName="com.groover.bar.TurfSelectCustomerActivity"
            android:screenOrientation="landscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.groovertest.TurfSelectCustomerActivity" />
        </activity>
        <activity
            android:name="com.groover.bar.TestAnnoyingLayoutsActivity"
            android:label="@string/title_activity_test_annoying_layouts"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.groover.bar.PenningActivity"
            android:label="@string/title_activity_penning"
            android:parentActivityName="com.groover.bar.BeheerActivity"
            android:screenOrientation="landscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.groovertest.BeheerActivity" />
        </activity>
        <activity
            android:name="com.groover.bar.EditCredentialsActivity"
            android:label="@string/title_activity_edit_credentials"
            android:parentActivityName="com.groover.bar.BeheerActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.groovertest.BeheerActivity" />
        </activity>
    </application>

</manifest>